<div class="h-full flex-1 sm:p-4 justify-between flex flex-col rounded-lg bg-white bg-clip-border shadow-lg">
  <div id="messages" class="relative flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch min-h-96">

    <app-chat-message-in message="¿Que deseas saber?" />
    @for (message of messages(); track message.text) {
    @if (message.isIa) {
    <app-chat-message-in [message]="message.text" />
    }@else {
    <app-chat-message-out [message]="message.text" />
    }
    }
    @if(isTyping()){
    <app-typing />
    }

  </div>
  <app-message-box placeholder="Ingresa el prompt" (onMessage)="handleMessage($event)" />

</div>