@if(originalImage()){
<div class="fixed flex flex-col items-center top-10 right-10 z-10 bg-gray-300 px-4 rounded-lg">
  <h2 class="text-2xl my-2">Editanto</h2>
  <img class="border rounded w-40 h-40 object-cover" [src]="originalImage()" alt="Imagen a editar">
  <button class="my-4 rounded-lg border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 sm:ml-3 sm:w-auto sm:text-sm" type="button" (click)="handleGenerateVariation()">Generar variacion</button>
</div>
}

<div class="h-full flex-1 sm:p-4 justify-between flex flex-col rounded-lg bg-white bg-clip-border shadow-lg">
  <div id="messages" class="relative flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch min-h-96">

    <app-chat-message-in message="Que desea generar" />
    @for (message of messages(); track $index) {
    @if (message.isIa) {
    <app-chat-message-image-in [url]="message.imageUrl" [message]="message.text" (onEmitImage)="handleSetImage($event,message.imageUrl)" />
    }@else {
    <app-chat-message-out [message]="message.text" />
    }
    }
    @if(isTyping()){
    <app-typing />
    }
  </div>
  <app-message-box placeholder="Ingresa un texto" (onMessage)="handleMessage($event)" />

</div>