<li>
  <a href="#" class="font-sans font-bold transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg w-full flex items-center gap-4 px-4 capitalize hover:bg-blue-600 hover:text-white" [routerLink]="path" routerLinkActive="bg-blue-600 shadow-blue-500/20 shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 text-white">
    <i class="text-lg text-inherit {{icon}}"></i>
    <p class="block antialiased font-sans text-base leading-5 text-inherit font-medium capitalize">{{title}}

      <span class="text-xs font-thin inline-block">{{description}}</span>
    </p>
  </a>
</li>