<div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
  <form [formGroup]="frm" class="relative flex" (ngSubmit)="onSubmit()">
    <span class="absolute inset-y-0 flex items-center">
      <button type="button" class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <i class="text-xl text-inherit fa-solid fa-microphone-lines"></i>
      </button>
    </span>

    <input class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-md py-3" formControlName="prompt" type="text" [placeholder]="placeholder" [autocomplete]="desableCorrection?'on':'off'" [spellcheck]="desableCorrection?'on':'off'">

    <input (change)="handleFile($event)" type="file" class="hidden" hidden #fileInput>

    <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">
      <button (click)="fileInput.click()" type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <i class="text-xl text-inherit fa-solid fa-paperclip"></i>
      </button>
      <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <i class="text-xl text-inherit fa-regular fa-image"></i>
      </button>
      <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <i class="text-xl text-inherit fa-regular fa-face-laugh"></i>
      </button>
      <button type="submit" class="inline-flex items-center justify-center rounded-tr-lg rounded-br-lg px-4 py-2.5 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" [disabled]="frm.invalid">
        <span class="font-semibold mr-2">Send</span>
        <i class="text-xl text-inherit fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>